html{
    margin: 0;
}

span{
    display: block;
}

.prj1{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    display: inline-block;
}

#pink{
    background-color: pink;
}
#purple{
    background-color: plum;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}